@import "tailwindcss";

button {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
}

button:disabled {
  background-color: #f3f3f3;
  border-color: #bdbdbd;
  color: #888;
  cursor: not-allowed;
  opacity: 0.7;
}

input {
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
}

textarea {
  border: 1px solid black;
  border-radius: 3px;
}

input:disabled,
textarea:disabled {
  background-color: #f3f3f3;
  border: 1px solid #bdbdbd;
  color: #888;
  cursor: not-allowed;
  opacity: 0.7;
}

select {
  border: 1px solid black;
}