@import "tailwindcss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
}

button:disabled {
  background-color: #f3f3f3;
  border-color: #bdbdbd;
  color: #888;
  cursor: not-allowed;
  opacity: 0.7;
}

input {
  border: 1px solid black;
  padding: 2px;
  border-radius: 3px;
}

textarea {
  border: 1px solid black;
  border-radius: 3px;
}

input:disabled,
textarea:disabled {
  background-color: #f3f3f3;
  border: 1px solid #bdbdbd;
  color: #888;
  cursor: not-allowed;
  opacity: 0.7;
}

select {
  border: 1px solid black;
}